#container.community {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 70px;
  box-sizing: border-box;
}

.content-area {
  display: flex;
  justify-content: space-between;
}

/* Left side */
.leftside {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftside .card {
  border: 1px solid #d6d6d6;
  background-color: #f9f9f9;
  padding: 15px;
}

.logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.picture {
  width: 60px;
  height: 60px;
  border-radius: 80%;
  margin-bottom: 10px;
}

.nickname {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.menus {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menus a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #e3e3e3;
}

.menus a:hover {
  background-color: #f0f0f0;
}

/* Middle section */
.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 10px;
}

.card-container .card {
  height: 300px;
  border: 1px solid #d6d6d6;
  background-color: #f9f9f9;
  width: calc(50% - 10px);
  padding: 5px;
}

/* Right side */
.rightside {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightside .card {
  border: 1px solid #d6d6d6;
  background-color: #f9f9f9;
  padding: 15px;
}

.board .article,
.board .list {
  display: block;
  padding: 10px;
  border-top: 1px solid #e3e3e3;
  color: #444;
}

.board .article p.title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board .article p.small,
.board .list p {
  line-height: 16px;
  color: #737373;
  font-size: 12px;
}
