.carousel-section {
  margin-top: 120px;
  color: black;
  padding: 20px;
  position: relative;
}

.carousel-section h2 {
  font-size: 18px !important;
  position: absolute !important;
  top: -30px !important;
  left: 22% !important;
  color: #d47f8a;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden; /* content 범위를 넘지 않도록 설정 */
  scroll-behavior: smooth;
  width: 100%; /* 전체 너비 */
  /* overflow: hidden; 스크롤바 숨김 */
}

.carousel-content {
  display: flex;
  position: relative;
  width: 80%; /* 콘텐츠가 중앙에 위치 */
  overflow-x: scroll; /* 스크롤 활성화 */
  scroll-behavior: smooth;
  /* overflow: hidden; 스크롤바 숨김 */
}

.carousel-item {
  flex-shrink: 0; /* 아이템 크기를 유지 */
  min-width: 200px; /* 아이템 최소 너비 */
  height: 150px;
  margin-right: 10px; /* 아이템 간격 */
  background-color: #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease; /* 부드러운 전환 */
  overflow: hidden; /* 내부 내용 넘치지 않도록 */
}

.carousel-item.expanded {
  z-index: 10; /* 확장된 아이템이 다른 요소 위로 */
  min-width: 500px; /* 확장된 너비 */
  height: 450px; /* 확장된 높이 */
  background-color: #555;
  flex-direction: column;
  transition: all 0.3s ease;
}

.carousel-item.expanded.to-left {
  transform-origin: right center; /* 오른쪽을 기준으로 확장 */
}

.carousel-item.expanded.to-right {
  transform-origin: left center; /* 왼쪽을 기준으로 확장 */
}

.expanded-content {
  margin-top: 10px;
  font-size: 16px;
  color: #ffd1dc;
  position: relative; /* 부모 요소 안에 위치 */
  width: 90%; /* 내용이 영역을 넘지 않도록 제한 */
  height: auto;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
  overflow: hidden;
  text-align: center; /* 텍스트 중앙 정렬 */
  word-wrap: break-word; /* 텍스트 줄바꿈 */
}

.carousel-button {
  background-color: white;
  border: none;
  color: #ffd1dc;
  font-size: 48px;
  cursor: pointer;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* 버튼이 다른 요소 위에 위치 */
  position: absolute; /* 위치를 고정 */
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateY(-50%); /* 중앙으로 이동 */
  opacity: 0; /* 기본적으로 숨김 */
  transition: opacity 0.3s ease;
}
.carousel-content::-webkit-scrollbar {
  display: none; /* Chrome/Safari: 스크롤바 숨김 */
}

.carousel-button.prev {
  left: 0; /* 왼쪽 버튼 위치 */
}

.carousel-button.next {
  right: 0; /* 오른쪽 버튼 위치 */
}

.carousel-button:focus,
.carousel-button:active {
  background-color: white;
  color: #ffd1dc;
  outline: none;
  border: none;
}

.carousel-button:hover {
  background-color: white !important;
  color: #ffd1dc;
}
.chat-input{
  display: none;
}