.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #FFD1DC;
  color: #d47f8a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea; /* 구분선 추가 */
}

.left-group {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.nav a {
  text-decoration: none;
  color: #d47f8a;
  font-size: 16px;
  margin-left: 15px;
}

.right-group {
  display: flex;
  align-items: center;
}

.auth-link {
  margin-right: 20px;
  text-decoration: none;
  color: #d47f8a;
  font-size: 14px;
}

.auth-link:hover {
  color: #d47f8a;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #FFD1DC;
  background-color: #FFD1DC;
  cursor: pointer;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: #FFD1DC;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #d47f8a;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #FFD1DC;
}